body {
  background: #ffd8f0;
}

.pink {
  width: 300px;
  height: 260px;
  margin: 2% auto;
  background: url('https://drive.google.com/file/d/0B-6Nc9KBTOoqcUFtUEdDM2lZdWs/view?usp=sharing') left center;
  animation: play 1s steps(10) infinite;
}

@keyframes play {
    100% { background-position: -3000px; }
}